* {
    box-sizing: border-box;
    /* border: 1px solid; */
}

body {
    background-color: rgb(235, 238, 238);
    margin: 0px;
    font-family: sans-serif;
}


.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(161, 161, 161);
    height: 475px;
    width: 370px;
    border-radius: 12px;
}

.display {
    background-color: rgb(236, 236, 236);
    height: 100px;
    width: 320px;
    margin: 18px 24px 6px 24px;
    border-radius: 8px;
}

/* BUTTONS */
.clr-dlt,
.num7-9-operand, 
.num4-6-operand, 
.num1-3-operand, 
.num0-operand  {
    display: flex;
    justify-content: space-evenly;
}

button {
    border-radius: 5px;
    font-weight: bold;
}

#clr, #dlt {
    height: 65px;
    width: 165px;
}

#clr {
    background-color: rgb(209, 106, 106);
}

#clr:hover {
    background-color: rgb(159, 69, 69);
}


#dlt {
    background-color: rgb(120, 155, 236);
}

#dlt:hover {
    background-color: rgb(60, 96, 179);
}


.equations {
    margin: 5px 7px 12px 7px; 
}

.equations button {
    background-color:rgb(225, 225, 225);
    height: 60px;
    width: 80px;
    margin: 4px 8px;
}

.equations button:hover {
    background-color:rgb(177, 177, 177);
}